.recipeImg {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    background-color: #F4A460;
}

.recipe {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: rgb(173, 198, 230);
  border-radius: 15px;
  width: 300px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;  
  border: 2px solid #000000;
  margin: 0px 10px 30px 10px;
}

.recipe:hover {
    border-color: red;
    transition: 0.5s;
}

.recipe-name {
    margin: 0;
    font-size: 250%;
}

.recipe-category {
    margin-top: 0;
}